## Calculating the Risk of a Security

Downloaded the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assessed the daily and the annual risk of ‘MSFT’. Repeated the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb

In [2]:
tickers = ["MSFT", "AAPL"]

data = pd.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, start='2000-1-1')["Adj Close"]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
returns = np.log(data / data.shift(1))
returns

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.034363 -0.088077
2000-01-05  0.010488  0.014527
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012984  0.046281
...              ...       ...
2024-04-19 -0.012821 -0.012288
2024-04-22  0.004600  0.005078
2024-04-23  0.016351  0.006371
2024-04-24  0.003649  0.012622
2024-04-25 -0.024800  0.005134

[6117 rows x 2 columns]

### MSFT

Daily risk:

In [4]:
returns['MSFT'].std()

0.01917500096762637

Annual risk:

In [5]:
returns['MSFT'].std() * 250 ** 0.5

0.30318338596815964

### Apple

Daily risk:

In [6]:
returns['AAPL'].std()

0.02548817664654464

Annual risk:

In [7]:
returns['AAPL'].std() * 250 ** 0.5

0.40300345803896753

******

Store the volatilities of the two stocks in an array called "vols".

In [11]:
vols = returns[['MSFT', 'AAPL']].std() * 250 ** 0.5
vols

MSFT    0.303183
AAPL    0.403003
dtype: float64

In [12]:
vols = vols*100
vols

MSFT    30.318339
AAPL    40.300346
dtype: float64