## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Yahoo Finance for the period 1st of January 2007 until today.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb

In [2]:
tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, start='2007-1-1')['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
sec_data.tail()

                  MSFT        AAPL
Date
2024-04-19  399.119995  165.000000
2024-04-22  400.959991  165.839996
2024-04-23  407.570007  166.899994
2024-04-24  409.059998  169.020004
2024-04-25  399.040009  169.889999

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007146
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079799
...              ...       ...
2024-04-19 -0.012821 -0.012288
2024-04-22  0.004600  0.005078
2024-04-23  0.016351  0.006371
2024-04-24  0.003649  0.012622
2024-04-25 -0.024800  0.005134

[4358 rows x 2 columns]

## MSFT

In [6]:
sec_returns['MSFT'].mean()

0.0006715150586045218

In [7]:
sec_returns['MSFT'].mean() * 250

0.16787876465113044

In [8]:
sec_returns['MSFT'].std()

0.017756345992683418

In [9]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.2807524812944155

## Apple

In [10]:
sec_returns['AAPL'].mean()

0.0009652169721013098

In [11]:
sec_returns['AAPL'].mean() * 250

0.24130424302532744

In [12]:
sec_returns['AAPL'].std()

0.019946687883670024

In [13]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.315384827444405

***

In [14]:
sec_returns[['MSFT', 'AAPL']].mean() * 250

MSFT    0.167879
AAPL    0.241304
dtype: float64

In [15]:
sec_returns[['MSFT', 'AAPL']].std() * 250 ** 0.5

MSFT    0.280752
AAPL    0.315385
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

In [16]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000315  0.000202
AAPL  0.000202  0.000398

In [17]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          MSFT      AAPL
MSFT  0.078822  0.050457
AAPL  0.050457  0.099468

***

In [18]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.569842
AAPL  0.569842  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [19]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [20]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.0698007341385679

Portfolio Volatility:

In [21]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.26419828564653464

In [22]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

26.419999999999998 %