## Calculating Covariance and Correlation

Consider a portfolio composed of *Walmart* and *Facebook*.

Here we begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb

In [4]:
tickers = ['WMT', 'META']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, start='2014-1-1')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
sec_data.head()

                                 WMT       META
Date
2014-01-02 00:00:00-05:00  64.751457  54.709999
2014-01-03 00:00:00-05:00  64.538109  54.560001
2014-01-06 00:00:00-05:00  64.177063  57.200001
2014-01-07 00:00:00-05:00  64.373985  57.919998
2014-01-08 00:00:00-05:00  63.865253  58.230000

In [6]:
returns = np.log(sec_data / sec_data.shift(1))
returns

                                WMT      META
Date
2014-01-02 00:00:00-05:00       NaN       NaN
2014-01-03 00:00:00-05:00 -0.003300 -0.002745
2014-01-06 00:00:00-05:00 -0.005610  0.047253
2014-01-07 00:00:00-05:00  0.003064  0.012509
2014-01-08 00:00:00-05:00 -0.007934  0.005338
...                             ...       ...
2023-01-12 00:00:00-05:00 -0.009074  0.028340
2023-01-13 00:00:00-05:00  0.003309  0.001973
2023-01-17 00:00:00-05:00 -0.006075 -0.011897
2023-01-18 00:00:00-05:00 -0.025032 -0.017438
2023-01-19 00:00:00-05:00 -0.007412  0.025591

[2278 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [8]:
returns[['WMT', 'META']].mean() * 250

WMT     0.084503
META    0.100356
dtype: float64

In [9]:
returns[['WMT', 'META']].std() * 250 ** 0.5

WMT     0.211804
META    0.375614
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

***

In [12]:
cov_matrix = returns.cov()
cov_matrix

           WMT      META
WMT   0.000179  0.000067
META  0.000067  0.000564

In [13]:
cov_matrix_a = returns.cov() * 250
cov_matrix_a

           WMT      META
WMT   0.044861  0.016691
META  0.016691  0.141086

***

In [14]:
corr_matrix = returns.corr()
corr_matrix

           WMT      META
WMT   1.000000  0.209806
META  0.209806  1.000000