## Diversifiable and Non-Diversifiable Risk of a Portfolio

Imported the dataset for – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb

In [2]:
tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, start='2007-1-1')['Adj Close']
    
sec_data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                  MSFT        AAPL
Date
2007-01-03   21.397429    2.533751
2007-01-04   21.361599    2.589990
2007-01-05   21.239773    2.571545
2007-01-08   21.447588    2.584245
2007-01-09   21.469084    2.798918
...                ...         ...
2024-04-19  399.119995  165.000000
2024-04-22  400.959991  165.839996
2024-04-23  407.570007  166.899994
2024-04-24  409.059998  169.020004
2024-04-25  399.040009  169.889999

[4358 rows x 2 columns]

In [3]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4358 entries, 2007-01-03 to 2024-04-25
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MSFT    4358 non-null   float64
 1   AAPL    4358 non-null   float64
dtypes: float64(2)
memory usage: 102.1 KB

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009737  0.004927
2007-01-09  0.001002  0.079800
...              ...       ...
2024-04-19 -0.012821 -0.012288
2024-04-22  0.004600  0.005078
2024-04-23  0.016351  0.006371
2024-04-24  0.003649  0.012622
2024-04-25 -0.024800  0.005134

[4358 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [5]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [6]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.0698006962204286

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [7]:
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.078822
dtype: float64

In [8]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.099468
dtype: float64

Or:

In [9]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.0788219047595747

In [10]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.09946757724387283

Calculating Diversifiable Risk:

In [11]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.025228325719566718

In [12]:
print (str(round(dr*100, 3)) + ' %')

2.523 %

Calculating Non-Diversifiable Risk:

In [13]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.04457237050086188

Or:

In [14]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.04457237050086188

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [15]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [16]:
pfolio_var_2 = np.dot(weights_2.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var_2

0.08295825408698415

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [17]:
dr_2 = pfolio_var_2 - (weights_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
dr_2

0.016146128460522546

In [18]:
print (str(round(dr_2*100, 3)) + ' %')

1.615 %

Calculating Non-Diversifiable Risk:

In [19]:
n_dr_2 = pfolio_var_2 - dr_2
n_dr_2

0.0668121256264616

Or:

In [20]:
n_dr_2 = (weights_2[0] ** 2 * MSFT_var_a) + (weights_2[1] ** 2 * AAPL_var_a)
n_dr_2

0.0668121256264616